<div class="task">
  <h3>Task: <%= link_to task.name, task_path(task) %></h3>
  <h4><b>Deadline: </b><%= task.deadline %></h4>

  <% unless task.users_who_approved.include?(current_user) || current_user.blank? || task.user == current_user %>
    <% if task.status == "in_progress" %>
    <div class="approve-button">
      <%= link_to "Approve", task_approvals_path(task), method: :post, class: "btn btn-primary" %>
    </div>
    <% end %>
  <% end %>

  <% if task.approvals.count > 0 %>
    <h4>Approved by:</h4>
    <div>
      <p>
        <%= render(
          partial: "approvals/approval",
          collection: task.approvals.except(@new_approval)
          ) %>
      </p>
    </div>
  <% end %>
</div>
