<span class="approvement">
    <%# <% if approvement.user.present? %>
      <%# <%= render partial: "users/user", object: approvement.user %>
    <%# <% end %>
    <% if current_user_can_edit?(approvement) %>
      <%= link_to(
              "Delete",
              task_approvement_path(approvement.task, approvement),
              method: :delete,
              data: {confirm: 'Are you sure?'}
          ) %>
    <% end %>
  </span>
