<%= form_with(model: approvement, local: true) do |form| %>
  <% if approvement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(approvement.errors.count, "error") %> prohibited this approvement from being saved:</h2>

      <ul>
        <% approvement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
