= form_for @user do |f|
  = render partial: "partials/form_errors", locals: {model: @user}
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :email
    = f.text_field :email, class: "form-control"
  .actions
    = f.submit "Save", class: "btn btn-primary"
    |  /
    = link_to "Back", :back
