<div class="text-center">
  <h1><%= @user.username %></h1>
  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to "Редактировать профиль", edit_user_path(@user), class: 'btn btn-default' %>
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @user.tasks.any? %>
      <h3>My tasks:</h3>
      <div class="row">
        <%= render partial: 'tasks/task', collection: @user.tasks %>
      </div>
    <% else %>
      <p class="buffer-top">No tasks yet.</p>
    <% end %>
  </div>
</div>
