.task {
  border: 2px solid rgba(150,  150, 150, 0.7);
  border-radius: 5px;
  width: 90%;
  margin: 10px;
  padding-left: 11px;
}

.task small {
  color: rgb(105, 103, 103);
}

.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(177, 249, 194, 0.6));
  color: rgba(15, 15, 15,0.7);
  text-indent: 5px;
  text-align: left;
  max-width:  1000px;
  border-radius: 5px;
 }

